body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #414A69;
}

* {
  box-sizing: border-box;
}

.app-header {
  height: 80px;
  border: 1px solid #D1D2E3;
  display: flex;
  align-items: center;
}

